
@font-face {
    font-family: "CerebriSans Light";
    src: url('../fonts/Cerebri Sans Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CerebriSans Regular";
    src: url('../fonts/Cerebri Sans Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CerebriSans Medium";
    src: url('../fonts/Cerebri Sans Medium.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CerebriSans Book";
    src: url('../fonts/Cerebri Sans Book.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"CerebriSans Bold";
    src: url('../fonts/Cerebri Sans Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CerebriSans SemiBold";
    src: url('../fonts/Cerebri Sans SemiBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CerebriSans ExtraBold";
    src: url('../fonts/Cerebri Sans ExtraBold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}